<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aditya.homepage">

    <compatible-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER"
                    />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Theory"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Prog"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Others"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Networks"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".th1"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".th2"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".th3"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".th4"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".th5"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".th6"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Compiler"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cprog"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DataStruct"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Java"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Rprog"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Computing"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Python"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DBMS"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DAA"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cloud"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ip"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".computersecurity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cn"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".aboutus"></activity>
    </application>

</manifest>